@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@300&display=swap');
h1,h2,h3,h4,h5{
 font-family: 'Mulish', sans-serif;
 font-family: 'Poppins', sans-serif;
font-weight: 600;

}
input{
 font-family: 'Mulish', sans-serif;
 font-family: 'Poppins', sans-serif;
}
p,span,a{
 font-family: 'Mulish', sans-serif;
 font-family: 'Poppins', sans-serif;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:sans-serif;
 }
 .hero{
   width: 100%;
   height: 80vh;
   position: 0 5%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .naavbaar{
   width: 100%;
   /* position: absolute; */
   top: 0;
   left: 0;
   padding: 20px 8%;
   display: flex;
   align-items: center;
   z-index: 2;
   justify-content: space-between;

 }
 .logo{
   width:80px;
   height: 50px;
 }
 nav ul li{
   list-style: none;
   display: inline-block;
   margin-left: 40px;
 }
 nav ul li a{
   text-decoration: none;
   font-size: 17px;
   color: white;
 }
 .content{
   text-align: center;
   z-index: 2;

 }
 .content h1{
   font-size: 160px;
   color: #D7B56D;
   font-weight: 600;
   transition: 0.5s;
 }
 .content h2{
   font-size: 60px;
   color: #D7B56D;
   font-weight: 600;
   transition: 0.5s;
 }
 .content h1:hover{
   -webkit-text-stroke: 2px white;
   color: transparent;
 }
 .content a{
   text-decoration: none;
   display: inline-block;
   color: white;
   font-size: 24px;
   border: 2px solid white;
   padding: 14px 70px;
   border-radius: 50px;
   margin-top: 20px;
 }
 .bg-video{
   width: 100%;

 }
 .bg-video-container{
   width: 100%;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
 }

 @media(max-width:500px){
   .bg-video2{
       width: 100%;
       height: auto;
   }
   .content h1{
       font-size: 100px;
   }
 }



 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:sans-serif;
 }
 .hero-2{
   width: 100%;
   height: 100vh;
   position: 0 5%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 nav{
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px 8%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 2;
 }
 nav ul li{
   list-style: none;
   display: inline-block;
   margin-left: 40px;
 }
 nav ul li a{
   text-decoration: none;
   font-size: 17px;
   color: white;
 }
 nav ul li a:hover{
   color: #D7B56D;
   text-decoration: none;
 }
 .content-section-2{
   text-align: center;
   height: 50%;
   z-index: 2;

 }
 .content-section-2 h1{
   font-size: 50px;
   color: #D7B56D;
   font-weight: 600;
 }
 .content-section-2 span{
   color: white;
   font-size: 16px;
 }
 .bg-video-2{
 width: 100%;
 position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
   margin-bottom: 15px;
 }
 .bg-video-container-2{
   width: 100%;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
 }
 footer i{
   color: white;
 }

 .section-two{
   height: 280px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content:center;
 }
 .section-two-text{
   height: 230px;
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-evenly;

 }
 .section-two-text h1{
   font-size: 30px;
   font-weight: 600;
   text-align: center;
 }
 .section-two-text span{
   font-size: 18px;
   text-align: center;
   opacity: 0.6;
 }
 .section-three{
   height: 300px;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .section-three-data{
   width: 200px;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 10px;
   background-color: black;
   box-shadow: 0 0 1px gray;
 }
 .section-three-data h1{
   font-weight: 700;
   color: #D7B56D;
 }
 .section-three-data span{
   color: #D7B56D;
 }
 .filter-buttons{
   width: 20%;
   height: 100px;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .section-four{
   width: 100%;
   height: 400px;
   background-color: #e7e7e7;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .section-four-content{
   width: 75%;
   height: 300px;
   border-radius: 10px;
   background-color: white;
   display: flex;
   padding: 30px;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
 }
 .section-four-content h1{
   font-size: 35px;
   font-weight: 600;
 }
 .section-four-content span{
   text-align: center;
 }
 .breaker{
   height: 60px;
 }
 .houses{

   margin: auto;
   width: 90%;
   height: 550px;
   display: flex;
   flex-direction: row;
   align-items: center;
   /* position: absolute; */
   /* justify-content: space-evenly; */
 }
 .house{
   width: 33%;
   height: 570px;
   display: flex;
   flex-direction: column;
   /* background-color: cadetblue; */
   /* position: absolute; */
 }
 .house-picture-div{
     width:97%;
     height:350px;
 }
 .house-picture{
   width: 100%;
   height: 100%;
   object-fit:cover;
 }
 button{
   cursor: pointer;
 }

 .details{
   display: flex;
   align-items: center;
   height: 200px;
   width: 97%;
   box-shadow: 0 0 5px gray;
   margin-top: -3rem;
   background-color: white;

 }
 .details h1{
   font-size: 22px;
   border-bottom: 3px solid #D7B56D;
 }
 .details span{
   opacity: 0.6;
   font-size: 14px;
 }
 .h1-h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .bed{
   width: 55%;
   height: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
 }
 .bed img{
   height: 20px;
   width: 20px;
 }
 .dts{
 margin: auto;
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 justify-content: space-evenly;
 }
 .dts h2{
   font-size: 25px;
 }
 .quality{
   width: 90%;
   margin: auto;
   height: 420px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .image{
   width: 55%;
   height: 420px;
 }
 .image img{
   width: 100%;
   height: 100%;
 }
 .top{
   width: 45%;
   height: 370px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }
 .top-1{
   width: 80%;
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
 .top-11{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(210, 209, 209);
   transition: border-color 0.3s ease;
   border: 3px solid rgb(201, 201, 201);
   transition: transform 0.3s ease-in;

 }
 .dtsls{
   width: 75%;
   height: 60px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
 }
 .top-11 img{
   width: 20px;
   height: 20px;
 }
 .dtsls h2{
   font-size: 18px;
 }
 .top-11:hover{
   background-color: rgb(247, 249, 249);
   border-color: rgb(3, 177, 177);
   transform: scale(1.1);
 }
 .dtsls span{
   opacity: 0.6;
 }
 .contact-form{
   width: 100%;
   height: 400px;
   display: flex;
   flex-direction: row;
   background-color: black;
   align-items: center;
   justify-content: space-evenly;

 }
 .contact-form-animation{
   width: 50%;
   height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding-top: 10px;
 }
 .contact-form-animation h1{
   color: black;
   font-size: 25px;
 }
 .contact-form-inputs{
   width: 50%;
   padding: 20px;
   height: 350px;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   flex-direction: column;
 }
 .contact-form-inputs h1{
   font-size: 25px;
   color: white;
 }
 .submit-button{
   width: 300px;
   height: 40px;
   border: hidden;
   outline: none;
   background-color: #D7B56D;
   color: rgb(0, 0, 0);
 }
 .contact-inputs{
   width: 300px;
   height: 40px;
   background-color: white;
   border: 2px solid rgb(255, 255, 255);
   outline: none;
 }
 textarea{
   width: 300px;
 }
 .agent-1{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(243, 242, 242, 0.954);


 }
 .agent h1{
   color: rgb(4, 134, 130);
   text-align: center;
 }
 .agent-1 span{
   opacity: 0.6;
   /* text-align: center; */
 }
 .agent-11{
   width: 45%;
   height: 100%;
   margin: auto;
 }
 .cards-three{
   width: 100%;
   height: 400px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgba(243, 242, 242, 0.954);


 }
 .cards-three-1{
   width: 350px;
   height: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   background-color: white;
   border-radius: 3px;
 }
 .name{
   width: 100%;
   height: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .icons{
   width:60%;
   margin: auto;
   height: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .cards-three-1 img{
   border-radius: 50%;
   height: 80px;
   width: 80px;
   margin-top: -3rem;
 }
 .icons img{
   width: 30px;
   height: 30px;
   margin-top: 1rem;
 }
 .spann{
   width: 100%;
   display: flex;
   align-items: center;

 }
 .spann span{
   padding: 10px;
   text-align: center;
 }
 .james{
   font-weight: bold;
 }
 .real{
   opacity: 0.6;
 }
 footer{
   background-color: black;
}
.footer-logo{
   width: 160px;
   height: 150px;
}
.footer-headers{
   color: #D7B56D;
}
.border-bottom-light{
   border-bottom: 1px solid #D7B56D;
}
.footer-location{
   color: white;
}
.footer-links{
   color: white;
   text-decoration: none;
}
.footer-links:hover{
   color: #D7B56D;
   cursor: pointer;

}
footer i{
   color: white;
   font-size: 18px;
}
 @media(max-width:500px){
 .bg-video{
   width: auto;
   margin-top: 0;
 }
   .search-bar{
       height: 350px;
   }
   .section-two{
       height: 350px;

   }
   .section-two h1{
       font-size: 20px;
   }
   .section-three{
       height: 450px;
       flex-direction: column;
   }
   .section-three-data{
       height: 100px;
   }
   .section-four{
       width: 100%;
       height: 500px;
       background-color: #e7e7e7;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .section-four-content{
       width: 80%;
       height: 450px;

   }
   .bed img{
       height: 20px;
       width: 20px;
     }
     .top{
       width: 100%;
       height: 400px;
     }
     .image{
       width: 80%;
       height: 200px;

     }
     .image img{
       height: 80%;
       width: 80%;
     }
     .top-1{
       width: 100%;
     }
     .cards-three{
       width: 100%;
       height: 950px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
       background-color: rgba(243, 242, 242, 0.954);
     }
     .bg-video-2{
       height: auto;
       width: auto;
     }
     .filter-buttons{
       width: 50%;
     }
 }






 .form-select{
   border: 1px solid rgb(188, 136, 4);
 }
 .option-class{
   width: 100%;
   height: 40px;
 }
 .breaker{
   width: 100%;
   height: 60px;
   background-color: #F8F8F8;
 }
 .item-container{
   box-shadow: 0 0 2px rgb(223, 223, 223);
 }
 .item-image{
   width: 100%;
   height: 220px;
 }
 .contact-card {
   height: 250px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 1px rgb(223, 223, 223);

 }
 .office-deatails{
   width: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .office-deatails img{
   width: 20px;
   height: 20px;
 }
 .contact-deatails img{
   width: 20px;
   height: 20px;
 }
 .mail-deatails img{
   width: 20px;
   height: 20px;
 }
 .icons{
   width: 20px;
   height: 20px;
 }
 .contact-deatails{
   width: 65%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .mail-deatails{
   width: 65%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .contact-card span{
   color: rgb(188, 136, 4);
 }
 .social-links-card{
   height: 150px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 1px rgb(223, 223, 223);

 }
 .social-links-icons{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: row;
   height: 60px;
 }
 .social-links-icons img{
   width: 40px;
   height: 40px;
 }
 .social-links-icons img:hover{
   transform: scale(1.3);
   transition: 0.6s;
 }





 .form-select{
   border: 1px solid rgb(188, 136, 4);
 }
 .option-class{
   width: 100%;
   height: 40px;
 }
 .breaker{
   width: 100%;
   height: 60px;
   background-color: #F8F8F8;
 }
 .item-container{
   box-shadow: 0 0 2px rgb(223, 223, 223);
 }
 .item-image{
   width: 100%;
   height: 220px;
 }
 .contact-card-2{
   height: 450px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
 .social-links-card{
   height: 150px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 1px rgb(223, 223, 223);

 }
 .social-links-icons{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: row;
   height: 60px;
 }
 .social-links-icons img{
   width: 40px;
   height: 40px;
 }
 .social-links-icons img:hover{
   transform: scale(1.3);
   transition: 0.6s;
 }
 .property-header{
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   width: 95%;
   margin: auto;
 }
 .property-details{
   width: 60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: space-evenly;
 }
 .company-logo{
   width: 80%;
   margin: auto;
   height: 70px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .company-logo img{
   width: 80px;
   height: 70px;
 }

 .carousel-inner img {
     width: 80%;
     height: 70%;
 }

 #custCarousel .carousel-indicators {
   position: static;
   margin-top:20px;
 }

 #custCarousel .carousel-indicators > li {
 width:100px;
 }

 #custCarousel .carousel-indicators li img {
   display: block;
   opacity: 0.5;
 }

 #custCarousel .carousel-indicators li.active img {
   opacity: 1;
 }

 #custCarousel .carousel-indicators li:hover img {
   opacity: 0.75;
 }

 .carousel-item img{

   width:100%;
 }
 .item-overview{
   width: 100%;
   height: 120px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   flex-direction: row;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .overview-lists{
   width: 120px;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
 }
 .overview-lists img{
   width: 20px;
   height: 20px;
 }
 .item-description{
   height: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   padding: 20px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 .item-map-view{
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   border-radius: 5px;
   height: 400px;

 }
 iframe{
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }


 .aboutus-container{
   width: 100%;
   height: 100vh;
   background-image: url('./img/bg-image.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .aboutus-container h1{
   font-size: 60px;
   font-weight: 600;
   text-transform: capitalize;
   color: #bda38b;
 }
 .our-mission{
   width: 90%;
   height: 200px;
   margin: auto;
   display: flex;
   align-items:center;
   justify-content:center;
   flex-direction: column;
   background-color: #bda38b;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

 }
 .our-mission h1{
   color: white;
 }
 .our-mission-2{
   width: 90%;
   height: 200px;
   margin: auto;
   display: flex;
   align-items:flex-start;
   justify-content: space-evenly;
   flex-direction: column;

 }
 .our-mission:hover{
   background-color: white;
 }
 .our-mission:hover h1{
   color: #bda38b;
 }
 .message-content{
   width: 90%;
   height: auto;
   margin: auto;
   display: flex;
   align-items:flex-start;
   justify-content: space-evenly;
   flex-direction: column;
 }
 .message-picture{
   width: 100%;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .message-picture img{
   object-fit: contain;
   width: 100%;
   height: 100%;
 }
 .team-members-card{
   border-radius: 10px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   overflow: hidden;
 }
 .home-testimonial{background-color: #000000;height: 380px}.home-testimonial-bottom{background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}.testimonial-inner{position: relative;top: -174px}.testimonial-pos{position: relative;top: 24px}.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color: #6c83a2}
 @media(max-width:500px){
   .aboutus-container{
       width: 100%;
       background-size: cover;
       height: 200px;
   }
   .aboutus-container h1{
       font-size: 30px;
   }
 }




 .contactus-container{
   width: 100%;
   height: 100vh;
   background-image:
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url('img/contactus-bg.jpg');
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
 }
 .contactus-container h1{
   font-size: 60px;
   font-weight: 600;
   text-transform: capitalize;
   color: #ffffff;
 }
 .contactus-container span{
   color: #D7B56D;
   font-size: 20px;
   font-weight: 600;
 }
 .contact-card {
   height: 250px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 .office-details{
   width: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .office-details img{
   width: 20px;
   height: 20px;
 }
 .contact-details img{
   width: 20px;
   height: 20px;
 }
 .mail-details img{
   width: 20px;
   height: 20px;
 }

 .contact-details{
   width: 65%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .mail-details{
   width: 65%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30px;
 }
 .contact-card span{
   color: rgb(188, 136, 4);
 }
 .social-links-card{
   height: 150px;
   background-color: white;
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 5px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 .social-links-icons{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: row;
   height: 60px;
 }
 .social-links-icons i{
   font-size:35px;
 }
 .social-links-icons i:hover{
   transform: scale(1.3);
   transition: 0.6s;
   color: #D7B56D
 }
 .office-location-card{
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

 }
 .error-message{
   color: red;
   font-size: 12px;
 }
 .fixed-card {
   position: sticky;
   top: 0;
   height: 100vh; /* Adjust the height as needed */
   overflow-y: auto;
 }

 @media(max-width:500px){
   .contactus-container{
       width: 100%;
       height: 200px;
   }
   .contactus-container h1{
       font-size: 30px;
   }
   .contactus-container span{
       font-size: 10px;
   }
 }
